@page
@model form.Pages.FourthModel
@{
    ViewData["Title"] = "Completado";
}

<h2>Proceso completado</h2>

<div class="alert alert-success" role="alert">
    <p>Los datos han sido enviados correctamente.</p>
    <p><strong>El formulario se contesto correctamente</strong></p>
</div>
<a asp-page="/Index" class="btn btn-primary">Volver al inicio</a>